
.pic-container {
  display: flex;
  flex-direction: row;
  background-color: black;
  gap: 0.3em;
  padding-bottom: 0.1em;
  filter: drop-shadow(rgb(0, 0, 0) 0rem 0.1rem 5px);
}
.pic-container2 {
  display: none;
  background-color: rgba(27, 26, 26, 0.763);
}
.top-pic {
  width: 6.1em;
  max-height: 18.4em;
}
.sushi {
  display: none;
}
.company-title {
  font-family: var(--title-font);
  color: white;
  font-size: 24px;
}
.companytitletext-p {
  font-family: var(--content-font);
  line-height: 2em;
  color: white;
  font-size: 14px;
  margin: 2em 2em;
}

.startfood-title {
  margin-bottom: 1em;
  font-weight: 10;
}

.mainstartpage {
  background-color: var(--bg-color);
  min-height: 100vh;
  padding: 2em;
}
.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.body-text {
  color: white;
  font-size: 16px;
  line-height: 1.5;
  font-family: var(--content-font);
  padding: 1em;
}

.text-container:nth-child(2),
.text-container:nth-child(4) {
  background-color: var(--header-color);
  box-shadow: 0 0 17px #000000;
}

.startmainpicture {
  width: 14em;
  border-radius: 3%;
  margin-top: 1em;
}
.mobilbtn {
  display: block;
  background-image: linear-gradient(
    to right,
    #235852 0%,
    #001510 51%,
    #00bf8f 100%
  );
  margin: 5em 0.4em;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 7px #eee;
  border-radius: 10px;
  display: block;
  width: 100%;
}
.mobilbtn:hover{
  background-position: right center;
color: #fff;
text-decoration: none;
transform: scale(0.9);
}
.desktop {
  display: none;
}
.link-to-menu{
  color: white;
  text-decoration: none;
}

@media screen and (min-width: 320px) {
  .sushi {
    display: none;
  }
  .top-pic {
    flex-grow: 1;
  }
}

/* Desktop 1920 */

@media screen and (min-width: 1000px) {

  .mobilbtn {
    display: none;
  }
  .desktop {
    display: block;
    background-image: linear-gradient(
      to right,
      #235852 0%,
      #001510 51%,
      #00bf8f 100%
    );
    /* background-color: #316863;  */
    margin: 5em 0.4em;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 7px #939090;
    border-radius: 10px;
    display: block;
    width: 50%;
    border:none; 
  }
  .desktop:hover{
    background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: scale(0.9);
  }
  .sushi {
    display: block;
    z-index: 2;
    transform: scale(1.1);
    margin-top: 0.77em;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  }
  .pic-container {
    display: none;
  }
  .pic-container2 {
    display: flex;
    gap: 0.4em;
    filter: drop-shadow(rgb(0, 0, 0) 0rem 0.1rem 5px);
    flex-wrap: wrap;
    margin-top: -0.5em;
  }
   
  .companytitletext-p {
    color: white;
    font-size: 20px;
    margin: 4em 2em;
  }
  .company-title {
    font-family: var(--title-font);
    color: white;
    font-size: 30px;
    padding-top: 2em;
  }

  .text-container:nth-child(2) {
    background-color: var(--header-color);
    display: flex;
    flex-direction: row;
    padding: 2em;
  }
  .text-container:nth-child(4) {
    background-color: var(--header-color);
    display: flex;
    flex-direction: row-reverse;
    padding: 2em;
    margin-bottom: 6em;
  }
  .startmainpicture {
    width: 30em;
    flex-grow: 1;
    border-radius: 3%;
    margin-top: 1em;
  }
  .body-text {
    color: white;
    font-size: 18px;
    line-height: 2;
    font-family: var(--content-font);
    padding: 3em;
    text-align: left;
  }
  .startfood-title {
    margin-bottom: 2em;
    text-align: left;
  }
}
