
  .outer-container {
    background-color: #4c5452;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 1080px;
    width: 100%;
  }
  
  
  .checkout-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    padding:10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    text-align: center;
    width: 550px;
    height: 50vh;
    margin: 0 auto;
  }
  
  h2 {
    color: #333;
  }
  
  .payment-method {
    display: block;
    margin-bottom: 10px;
  }
  
  .payment-details {
    margin-top: 20px;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  
  .proceed-button {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  button {
    background-image: linear-gradient(to right, #235852 0%, 
    #001510  51%, #00bf8f  100%); 
      margin: 2em 0.4em;
      padding: 15px 45px;
      text-align: center;
      text-transform: uppercase;
      transition: 0.5s;
      background-size: 200% auto;
      color: white;
      box-shadow: 0 0 7px #eee;
      border-radius: 10px;
      display: block;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  @media (max-width: 600px) {
    .proceed-button {
      justify-content: center;
    }
  }