body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color:#4C5452 ;
    overflow-x: hidden;
    
}

/* .parent-about-container {
    display: flex;
    flex-direction: column;

    
} */
/* .about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
} */
.title-pic{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
}
.text-title-us{
    display: inline-flex;
    flex-wrap: wrap;
    position: relative;
    z-index: 10;
    top: -14rem;
    left: 32rem;
    color : #fff
}
.first-img{
    display:flex ;
    flex-direction: row;
    flex-wrap: wrap;

    height: 20rem;
}
.mobile-text{
    display: none;
}
.middle-page {
    display: flex;
    background-color: #15302D;
    height: 16rem;
    margin-top: 8rem;
    position: relative;
    top: 8rem;
    color: #fff;
    left: 4rem;
}
.middle-contain{
    display: flex;
    flex-wrap: wrap;
    height: 11rem;
    width: 70%;
    position: relative;
    left: 4rem;
   
}
.middle-img{
    display: flex;
    flex-wrap: wrap;
}
.funky-about-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
    left: -12rem;
}
.middle-text{
    position: relative;
    
}
.wok-img{

    position: relative;
    top: -6rem;
    left: 3rem;
    width: 21rem;
    height: 18rem;
    margin-right: 2rem;
}
.pasta-img{
    
    position: relative;
    z-index: 10;
    bottom: 10rem;
    width: 16rem;
    height:11rem ;
    margin-left: 1rem;
    left: -3rem;

}
@media screen and (min-width: 1000px) and (max-width:1320) {
    .wok-img {
        width: 15rem;
        height: 13rem;
    }
    .pasta-img {
        width: 11rem;
        height: 9rem;
    }
    .funky-about-text{
        font-size: 14px;
        position: relative;
        transform: translateX(5%);
    }
    .middle-page{
        height: 11rem;
        position: relative;
        left: 4rem;
    }

} 


@media screen and (min-width: 320px) and (max-width:800px){
    .title-pic{
        display: flex;
        flex-wrap: wrap;
    }
    .mobile-text{
        display: block;
        text-align: center;
        color: #fff;
    }
    .middle-page{
        display: flex;
        flex-direction: column;
        align-self: center;
        height: auto;
        width: 100%;
        left: -1rem;
        
    }
    .wok-img{
        width: 17rem;
        height: 12rem;
        position: relative;
        right: .4rem;
    }
    .pasta-img{
        width: 12rem;
        height: 9rem;
        position: relative;
        bottom: .1rem;
        left:-7rem;
    }
    .funky-about-text{

        position: relative;
        z-index: 10;
        bottom: 2rem;
        left: 3rem;
        
    }
    .middle-contain{
        position: relative;
        left: -1rem;
    }
    .middle-img{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}
@media screen and (min-width: 800px) and (max-width:1000px){
    .middle-page{
        height: 13rem;
        position: relative;
        left: 4rem;
    }
    .wok-img{
        width: 12rem;
        height: 9rem;
    }
    .pasta-img{
        width: 8rem;
        height: 6rem;
    }
}



/* @media screen and (min-width:1000px){
   
    .pasta-img{
        display: flex;
        flex-wrap: wrap;
       }
    .wok-img {
    display: flex;
    flex-wrap: wrap;
   }
  
} */
/* 
@media (min-width:320px){
    
    .first-img{
        margin-top: 3rem;
        width:100%;
    }
    .middle-page{
        height: 40rem;
        background-color: #15302D;
    }
    .mobile-text{
        display: block;
        text-align: center;
        text-transform: uppercase;
        color: #fff;
    }
    .middle-contain{
        display: flex;
        flex-direction: column;
    }
    .wok-img{
        display: fixed;
        width: 15rem;
        height: 15rem;
        position: relative;
        top: -3.6rem;
    }
    .pasta-img{
       
        position: relative;
        width: 10rem;
        height: 8rem;
        z-index: 10;
        top: 10rem;
        left: -12.4rem;
        
    }
    .funky-about-text{
        position: relative;
        top: -5rem;
        color: #fff;
        text-align: start;

       
        
        
    }
    .middle-text{
    transform: translateX(-15%);
    font-size: 1.1rem;
    }
    
}

@media screen and (min-width: 1000px){
    .middle-page{
        display: flex;
        
    }
}
 */
