body {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.chart-title{
    text-align: center;
}


.chart-wrapper{
    display: flex;
    justify-content: center;
    background-color: #4C5452;
}

.background-chart{
    display: flex;
    padding: 2em;
    margin: 2em;
    flex-direction:column;
    gap: 4em;
    width: 70%;
    border-radius: 20px;
    background-color: white;
}

.order-line{
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    gap: 2em;
    /* width: 1000px; */
}
.food-name-div{
    display: flex;
    flex-direction: column;
    width: 100px; 
}

.foodname{
    display: inline;
}

.price-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.foodprice{
    position: absolute;
    top: 3em;
}

.price-div h4 {
    align-self: center;
}

.amount-order{
    display: flex;
    /* gap: 2em; */
    flex-direction: column;
    position: relative;
}

.amount-order span{
    /* align-items: center; */
    align-self: center;
}

.minus-plus{  
    display: flex;
    align-items: center;
    gap: 1em;
    position: relative;
    top: 1em;
}

.back-btn {
    position: relative;
    left: 0rem;
    top: -10rem;
   
}

.chart-btn-grad{
    display: flex;
    justify-content: center;
}


.line-div{
    display: flex;
    justify-content: center;
}


.line {
    width: 70%;
    margin-top: 2rem;
}

.total-summa {
    text-align: center;
}

/*  */