.outer-container {
  background-color: #4c5452;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

.checkout-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 80%;
  max-width: 550px;
  min-width: 320px;
}

h2 {
  color: #333;
}

.payment-method {
  margin-bottom: 10px;
}

.payment-details {
  margin-top: 20px;
}

.proceed-button {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.proceed-button {
  background-image: linear-gradient(to right, #235852 0%, #001510 51%, #00bf8f 100%);
  margin: 0.4em;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 7px #eee;
  border-radius: 10px;
  display: block;
}

.proceed-button:hover {
  background-position: right center; 
  color: #fff;
  text-decoration: none;
}

.pay-btn-div{
    display: flex;
    justify-content: center;
}

.pay-btn-div button{
    width: 100% !important;
}

@media (max-width: 600px) {
  .proceed-button {
    justify-content: center;
  }
}
