.footer-container {
  /* border: 2px solid green;  */
  background-color: var(--bg-footer);
  color: #b1a8a8;
  display: flex;
  justify-content: space-around;
  height: 7em;
  text-align: center;
}

.footer-desktop-container {
  display: none;
}
.media-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10em;
  /* border:2px solid black; */
}

.icon-container {
  border-top: 2px solid white;
  margin-top: 0.3em;
  padding: 0.7em;
}
.created-by-container {
  display: flex;
  text-align: start;
  justify-content: flex-end;
  width: 10em;
  /* width: 100%; */
}
.created-by-p {
  display: flex;
  margin-bottom: 0.5em;
  align-items: flex-end;
  font-size: 11px;
}
.login-icon {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  margin: 0 0.5em 0.5em;
  font-size: 30px;
}
.facebook-icon,
.twitter-icon,
.instagram-icon {
  font-size: 30px;
  color: #b1a8a8;
  margin: 0 0.3em;
}
.phone-icon {
  color: black;
}

.copyright-icon {
  color: black;
  margin-bottom: 10px;
  font-size: 26px;
}

/* mobil 320 */
@media screen and (max-width: 350px) {
  .facebook-icon,
  .twitter-icon,
  .instagram-icon {
    font-size: 25px;
    color: #b1a8a8;
    margin: 0 0.3em;
  }

  .phone-icon > p {
    font-size: 15px;
    border: 2px solid black;
  }
  .icon-container {
    width: 120px;
  }
}

/* padda/ Desktop */

@media screen and (min-width: 650px) {
  .media-container,
  .created-by-container {
    display: none;
  }
  .footer-container {
    display: none;
  }
  .footer-desktop-container {
    background-color: var(--bg-footer);
    color: #f2f0f0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .footer-columns {
    display: flex;
    flex: 1;
    justify-content: space-around; 
  }
  .footer-column {
    display: flex;
    flex-direction: column;
    padding: 1px;
    
  }
 .footer-column:nth-child(1){
  /* border-collapse: collapse; */
  width: 33%;
 }
  .openhour {
    color: #f2f0f0;
    margin-bottom: 1em;
  }

  .copyright-icon {
    color: var(--black-icons);
    margin-bottom: -5px;
    font-size: 20px;
}
  .weekday {
    padding-right: 1em;
    line-height: 1.5;
  }
  .time {
    font-style: italic;
  }
  .ff-pic {
    width: 4em;
    margin-bottom:3em;
  }
  .footer-column:nth-child(2) {
      align-items: center;
  }
  .footer-column:nth-child(1),
  .footer-column:nth-child(3) {
 margin-top:1em;
}

  .footer-logo{
    color: #f2f0f0;
    font-family: var(--title-font);
    font-size: 28px;
    margin-bottom:1em;
  }
  .media-icons-desktop{
    margin-top:1em;
  }
  
  .instagram-icon,.twitter-icon,.facebook-icon{
    font-size:21px; 
    color: white; 
  }
   
.dark-icons{
  color: var(--black-icons);
  margin-top: 0.5em;
}
.contact-us{
  color: #f2f0f0;
  margin-bottom:1em;
} 
.follow-us{
  font-size: 13px;
  margin-bottom: 7px; 
  margin-top:1em;
}
.login-icon-desktop {
  display: flex;
  flex-direction: column;
  align-self: flex-end;
  font-size: 30px;
 
}

}



