.matratt-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .matratt {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .matratt-image {
    flex: 1;
  }
  
  .matratt-image img {
    width: 230px;
    height: 230px;
    border-radius: 7px;
  }
  
  .matratt-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
  }

  .matratt-details .matratt-p{
    width: 200px;
    text-align: center;
    font-size: 15px;
  }

  .bottom-details{
    display: flex;
    gap: 2em;
    align-items: center;
    margin-right: 32px;
  }
  
  .order-button {
    background-color: #316863;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 10px 30px; 
  }
  
  .order-button:hover {
    background-color: #183118;
  }
  
  @media (max-width: 767px) {
    .matratt {
      flex-direction: column; 
    }
  
    .matratt-details {
      flex: 1; 
      text-align: center; 
      font-size: 15px;
      align-items: center;
      justify-content: center;
    }
  
    .order-button {
      text-align: center; 
    }.matratt-p{
      font-size: 13px;
    }
  }
  
  @media(max-width:320){
    .matratt-image img {
      width: 100px;
      height: 120px;
    }
    
  }