.matratt-container {
    display: flex;
    flex-direction: column;
    height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }
  
  .matratt {
    display: flex;
    align-items: center;
    margin: 10px;
    padding: 10px;
    /* border: 1px solid #ccc; */
    width: 100%;
  }
  
  .matratt-image {
    flex: 1;
  }
  
  .matratt-image img {
    width: 170px;
    height: 170px;
    border-radius: 7px;
  }
  
  .matratt-details {
    display: flex;
    flex-direction: column;
    align-items: start;
    flex: 2;
    padding: 10px;
  }

  .matratt-p{
    width: 350px;
    text-align: start;
  }

  .bottom-details{
    display: flex;
    gap: 2em;
    align-items: center;
  }
  
  .order-button {
    background-color: #316863;
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    padding: 5px 20px; 
  }
  
  .order-button:hover {
    background-color: #183118;
  }
  
  @media (max-width: 767px) {
    .matratt {
      flex-direction: column; 
    }
  
    .matratt-details {
      flex: 1; 
      text-align: center; 
    }
  
    .order-button {
      text-align: center; 
    }
  }
  