


 .outer-container {
  background-color: #4c5452;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1080px;
  width: 100%;
}

.inner-container {
  align-items: center;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

h1 {
  color: #000;
  font-size: 30px;
  margin-bottom: 20px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: 1.5px solid #000;
  cursor: pointer;
}

.funky-hr-title {
  display: flex;
  flex-direction: row;
  font-family: 'Edu TAS Beginner', cursive;
}

.funky-hr {
  border: 0.8px solid black;
  background: #000;
  width: 300px;
}

@media (max-width: 1920px) {
  /* Dina befintliga regler för 1920px bredd */
}

@media (max-width: 320px) {
  /* Anpassa för skärmstorlekar mindre än 320px om det behövs */
  h1 {
    font-size: 18px;
  }
  .inner-container {
    padding: 5px;
  }
  .btn {
    padding: 8px 16px;
  }
}
