.outer-container {
  background-color: #4c5452;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1080px;
  width: 100%;
}

.inner-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: white;
  padding:10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 880px;
  height: 100vh;
  margin: 0 auto;
}

h1 {
  color: #000;
  font-size: 30px;
  margin-bottom: 20px;
}

.btn {
  margin: 10px;
  padding: 10px 20px;
  background-color: #fff;
  color: #000;
  border: 1.5px solid #000;
  cursor: pointer;
}

.funky-hr-title p{
  width: 250px;
  align-self: center;
  
}
.funky-hr-title {
  
  display: flex;
  align-items: center;
  flex-direction: row;
  font-family: 'Edu TAS Beginner', cursive;
}

.funky-hr {
height: 5px;  
  background: #000;
  width: 500px;
}



@media  (max-width: 320px) {
  h1 {
    font-size: 18px;
  }
  .inner-container {
    width: 260px;
    
  }
  .btn {
    padding: 8px 16px;
  }
}
