.tillbehor-container {
  padding: 1em;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1em;
  height: 70vh;
  overflow-y: scroll;
}
/* p{
 font-size: 30px; 
} */
.tillbehor-item {
  padding: 0 6px;
  float: right;
  width: 300px;
}

.tillbehor-details {
  display: flex;
  flex-direction: column;
}

.tillbehor-img img {
  width: 300px;
  height: 300px;
  margin-left: 20px;
}

.name-price-tillbehor {
  display: flex;
  justify-content: center;
  margin: 0px;
  gap: 1em;
  align-items: center;
  font-size: 20px;
}

.tillbehor-desc {
  display: flex;
  justify-content: center;
  align-self: center;
  width: 250px;
  text-align: center;
  font-size: 19px;
}

@media screen and (max-width: 320px) {
  .tillbehor-img img {
    width: 190px;
    height: 190px;
  }

  .name-price-tillbehor {
    display: flex;
    justify-content: center;
    margin: 0px;
    gap: 1em;
    align-items: center;
    font-size: 14px;
  }
  
  .tillbehor-desc {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 250px;
    text-align: center;
    font-size: 14px;
  }
}
