.outer-container {
    background-color: #4c5452; 
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
}

    .inner-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
    text-align: center;
}

    h1 {
    color: #000; 
}

    button {
    margin: 10px;
    padding: 10px 20px;
    background-color: #ffff; 
    color: #000; 
    border: none;
    cursor: pointer;
    border: 2px solid #000;
}