.login-overlay {
  position: fixed;
  border-radius: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(180, 196, 192, 0.92);
  padding: 2em;
}

.login-title {
  font-family: var(--content-font);
  font-size: 20px;
  margin-top: 1em;
  display: flex;
  text-align: center;
}
.username-container {
  margin: 2em 0 1em 0;
}
.label {
  width: 15em;
  height: 31px;
}

.label::placeholder {
  padding-left: 0.2em;
  font-size: 11px;
}
.username {
  font-size: 14px;
}

.btn-grad {
  width: 90%;
}
.registre-user {
  color: var(--font-color);
  font-size: 16px;
}
input{
  padding-left: 3px;
}

.error-text{
  background-color: rgba(221, 50, 50, 0.493);
  color: rgb(113, 10, 10);
  padding: 0.1em 0.3em;
}
.username-container.error,
.password-container.error {
  position: relative;
}
.password-container.error::after,
.username-container.error::after{
content :'\00a0';
display: block;
position: absolute;
bottom: 5px;
left: 5px; 
color: red; 
font-size: 12px;
}

.username-container.error input,
.password-container.error input {
  border: 1px solid red; /* Red border for error */
}

.username-container.success input,
.password-container.success input {
  border: 1px solid green; /* Green border for success */
}



@media screen and (min-width: 550px) {
  .password-container,
  .username-container {
    display: flex;
    flex-direction: column;
  }
  .label {
    width: 20em;
    height: 2.6em;
  }
  .login-title {
    display: flex;
    justify-content: center;
    margin-bottom: 4em;
  }
  .login-overlay {
    padding: 5em;
  }

  .password,
  .username {
    font-size: 18px;
  }

  .close-icon {
    display: flex;
    justify-self: end;
    font-size: 30px;
    transition: transform 1s ease;
    position: absolute;
    top: 1em;
    left: 1em;
  }
  .close-icon:hover {
    transform: scale(1.2) rotate(180deg);
  }
}
