
body{

    margin: 0;
    padding: 0;
    background-color: --bg-color;
    overflow: hidden;
    box-sizing: border-box;

}

.parent-container{
  display: flex;
  flex-direction: column;
  /* margin-top: 2em; */
  margin-bottom: 2.7em;
}
.desktop-kvitto-title{
  display: none;
}

.receipt-center {
  padding-top: 3em;
  padding-bottom: 2.5em;
}


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #fff;
  width: auto !important;
  height: auto !important;
  border: 0.2em solid #183A37;
  border-radius: 2em;
  

  
  /* margin-bottom: 15em; */
}
.title-page-n1 {
  width: 100% !important;
  margin-top: 2.7em;
}

.kvitto-title{
  font-family: var(--meny-font);
  /* border: 1px solid rgb(69, 47, 212); */
  text-align: center;
  margin-bottom: 2em;
}

.message{
  font-family:var(--title-font) ;
  text-align: center;
  margin: 2em 0em;

}

.deliver-icons{
  position:relative ;
}

.kvitto-icons{
  display: flex;
  flex-direction: row  !important;
  align-items: center;
  height: 2em;
  margin: 1em 0em;
  position:relative;
  font-size: 1em;
  /* left: -3em; */
} 

.person-icon{
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 3px;
}

.delivery-pic{
  width: 60%;
  text-align: center;
  margin: 1em 0em;
}

.last-message {
  font-family: var(--content-font);
  margin: 2.5em 0em -.3em;
}

.btn-grad{
  margin: 3.3em 0em 2.8em;
}


@media (min-width:550px) {
  
  .container{
    width: 70% !important;
    display: flex !important;
    align-self: center;
  }
  .kvitto-title{
    display: block;
  }
  .desktop-kvitto-title{
    display: none;
  }
  
}

@media (min-width: 1080px){
  .parent-container{
    display: flex;
    align-items: center;
    margin-bottom: 2em;
  }
  .title-page-n1{
    margin-top: 3em;
  }
  .container{
    width: 40em !important;
    height: auto !important;
    margin-bottom: auto;
  }
  .kvitto-title{
    display: none !important;

  }
  .desktop-kvitto-title{
    font-family:var(--meny-font) ;
    display: block;
    text-align: center;
    margin: .9em 0em 2.4em 0em;
  }
  .delivery-pic{
    width: 26em;
  }
  .message{
    font-size: 1.1em;
    margin: 2em 0em;
  }
  .kvitto-icons{
    position: relative;
    /* left: -7em !important; */
    font-size: 1.3em;
  }
  .last-message{
    margin: 2em 0em 2em 0em;
    font-size: 1.3em;
    
  }
  .btn-grad{
    margin: 1.3em 0em 3em 0em  ;
  }
}
