
body{

    margin: 0;
    padding: 0;
    background-color: #4C5452;
    overflow: hidden;
    box-sizing: border-box;

}
.parent-container{
    display: flex;
    justify-content: center;
    

}
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto !important;
    width: 50%;
    background-color: #fff;
    margin: 3rem;
    padding: 2em;
    border: 0.4em solid #183A37;
    border-radius: 2rem !important;
}

.title-line > * {
text-align: center;
   position: relative;
   top:-2rem ;
} 
/* .kvitto-title{
   
       display: flex;
    justify-content: center;
    flex-wrap: row wrap;
    position: relative;
    top: -2rem;
    text-align: center;
} */
.message{
    margin-top: 1.5rem;
    
} 
  

.deliver-icons > div{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 40px;
   
   
}
  .truck , .person{
    display: inline-flex;
    position: relative;
    left: -8rem;
    
}
.time{
    display: inline-flex;
    position: relative;
    left: -9.3rem;
    margin: .2rem;
}

.time > span {
    position: relative;
    top: .6rem;
    margin-left: .1rem;
}
.truck > span {
    position: relative;
    top: .6rem;
    margin-left: .1rem;
}
.person > span {
    position: relative;
    top: .6rem;
    margin-left: .1rem;
}
.delivery-pic{
   padding-top: 2rem;
}
.last-message{
    text-align: center;
}
.btn-grad {
    background-image: linear-gradient(to right, #235852 0%, 
  #001510  51%, #00bf8f  100%); 
    margin: 2em 0.4em;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;
    box-shadow: 0 0 7px #eee;
    border-radius: 10px;
    display: block;
  }
  .btn-grad:hover {
    background-position: right center; 
    color: #fff;
    text-decoration: none;
  }

@media (min-width: 320px) and (max-width:683px){
  .container{
    padding: 4.5rem;
    width: 50%;
    height: 20vh;
    position: relative;
    
  }
  .kvitto-title{
    font-size: 20px;
    position: relative;
    top: -5rem;
  }
    
   
   .deliver-icons{
    position: relative;
    left: 4rem;
    
   }
   .deliver-icons > * {
    height: 50px;
   }
   .timer{
    size: 80px;
   
   }
   
   .truck{
    size: 20px;
    width: 110px;
   }
   .person{
    display: inline-flex;
    flex-wrap: nowrap;
    width: 100px;
    position: relative;
    left: -8.4rem;
   }
  
   
   .last-message{
    position: relative;
    left: -1rem;
   }
   .confirm-btn{
    position: relative;
    left: -1rem;
   }
   .btn-grad{
    margin-top: .6rem;
    padding: 10px;
   }
   
}