:root {
  --title-font: "Gloria Hallelujah", cursive;
  --content-font: "Ubuntu", sans-serif;
  --Helvetica-font: 'Helvetica', sans-serif;
  --mont-font: 'Montserrat', sans-serif;
    --meny-font:'Anonymous Pro', monospace; 

  --header-color: #183A37;
  --bg-color: #4c5452;
  --bg-footer: #312e2e;

  --black-icons: black;
}
/* Skrivs såhär:  background-color: var(--bg-color); */

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}



.btn-grad {
  background-image: linear-gradient(
    to right,
    #235852 0%,
    #001510 51%,
    #00bf8f 100%
  );
  margin: 2em 0.4em;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 7px #eee;
  border-radius: 10px;
  display: block;
  width: 90%;
}
.btn-grad:hover {
  background-position: right center;
  color: #fff;
  text-decoration: none;
  transform: scale(0.9);
}
