:root {
    --title-font: 'Gloria Hallelujah', cursive;
    --content-font: 'Ubuntu', sans-serif;
    
    --header-color:#183a37;
    --bg-color: #4c5452;
    --bg-footer: #3E3A3A;
  }
  /* Skrivs såhär:  background-color: var(--bg-color); */
  

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}