/* Steps */
.steps-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 40px);
    text-align: center;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.steps-container > div {
    display: flex;
    flex-flow: column wrap;
    place-items: center;
}

.step-round {
    border-radius: 100%;
    width: 25.5px;
    height: 25.5px;
    border: 1.75px solid #000;
    display: grid;
    place-content: center;
}

.steps-container > .line {
    width: 30px;
    height: 2px;
    background-color: #000;
}

.steps-container > div.line {
    margin: 0px;
}

.steps-back-container > .back-btn {
    background-color: transparent;
    font-size: 24px;
    border: none;
    cursor: pointer;
    padding-left: 1.5em;
}

@media screen and (orientation: portrait) {
    .steps-back-container > .back-btn {
        padding-left: .75em;
    }
}